//
//  Secret.xcconfig
//  Modo
//
//  Created by MacBook on 2023/05/02.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


NAVER_URL_SCHEME = Modo
NMF_CLIENT_ID = 4jg3zi84d0
NMF_SECRET_CLIENT = I3IMi0w378iIOUR04aVldjcHS3lQoHWXEW7K0aLh
